

{% load static %}


<!DOCTYPE html>
<html lang="zxx">
    

<head>
   
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    
        <link rel="stylesheet" href="{% static 'User/assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'User/assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'User/assets/css/remixicon.css' %}">
        <link rel="stylesheet" href="{% static 'User/assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'User/assets/css/owl-theme-default-min.css' %}">
        <link rel="stylesheet" href="{% static 'User/assets/css/odometer.min.css' %}">
        <link rel="stylesheet" href="{% static 'User/assets/css/fancybox.min.css' %}">
        <link rel="stylesheet" href="{% static 'User/assets/css/aos.css' %}">
        <link rel="stylesheet" href="{% static 'User/assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'User/assets/css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'User/assets/css/dark-theme.css' %}">
        
        <title>DISASTER PREDICTION WITH DISASTER MANAGEMENT</title>
        <link rel="icon" type="image/png" href="{% static 'User/assets/img/dpdm.png' %}">
    </head>
    <body>


        <div class="page-wrapper">
        
{% include "userheader.html" %}
{% block 'content' %}{% endblock 'content' %}

{% include "footer.html" %}
            </div>
        

       <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js">

       </script><script src="{% static 'User/assets/js/jquery.min.js' %}"></script>
       <script src="{% static 'User/assets/js/bootstrap.bundle.min.js' %}"></script>
       <script src="{% static 'User/assets/js/form-validator.min.js' %}"></script>
       <script src="{% static 'User/assets/js/contact-form-script.js' %}"></script>
       <script src="{% static 'User/assets/js/aos.js' %}"></script>
       <script src="{% static 'User/assets/js/owl.carousel.min.js' %}"></script>
       <script src="{% static 'User/assets/js/owl-thumb.min.js' %}"></script>
       <script src="{% static 'User/assets/js/odometer.js' %}"></script>
       <script src="{% static 'User/assets/js/circle-progressbar.min.js' %}"></script>
       <script src="{% static 'User/assets/js/fancybox.min.js' %}"></script>
       <script src="{% static 'User/assets/js/jquery.appear.js' %}"></script>
       <script src="{% static 'User/assets/js/tweenmax.min.js' %}"></script>
       <script src="{% static 'User/assets/js/main.js' %}"></script>
   </body>

</html>